:root {
  --purple-primary: #554dde;
  --accent-pink: #f44e77;
  --neutral-light: #f2f6ff;
  --lavender-secondary: #6a6d9e; /*Primary Font Color*/
  --dark-primary: #16194f;
  --border-colour: #cab6f1;
}
